<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907084742228-3b7slgrv5timntpjh32kjgidn83tr4bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907084742228-3b7slgrv5timntpjh32kjgidn83tr4bb</string>
	<key>API_KEY</key>
	<string>AIzaSyD1dSYTUnY9Qm7B704jiecU20Hwbh_4GmE</string>
	<key>GCM_SENDER_ID</key>
	<string>907084742228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instinctools.birthday</string>
	<key>PROJECT_ID</key>
	<string>birthday-notification-e90ad</string>
	<key>STORAGE_BUCKET</key>
	<string>birthday-notification-e90ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907084742228:ios:34a580d4abfbfa72</string>
	<key>DATABASE_URL</key>
	<string>https://birthday-notification-e90ad.firebaseio.com</string>
</dict>
</plist>